<%= form_with model: [:champion, @note] do |form| %>
  <div class="field">
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.text_field :champion_id %>
  </div>

  <div class="field">
    <%= form.text_field :adversary_champion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>